.card {
  background-size: cover;
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.card:first-child {
  z-index: 1;
}

.card:last-child {
  z-index: 0;
}

.swipe {
  transition: transform 0.1s ease-out;
}